* { color: red; font-size: 12px;}
h1 {color:blue; font-size: .5rem; background-color: aqua;}
p {color: green; font-size: 15px; margin-left: .75em;}
i{ background-color: yellow; font-size: .5rem }
div {backgound-color: red; font-size: 22px;}
span{background-color: blue;}